{% extends "base.html" %}

{% block content %}
  
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script> -->
  <!-- <script src="ck/static/chartkick.js"></script> -->
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script> 
  <script src="ck/static/chartkick.js"></script>

  <!-- <script src="http://www.google.com/jsapi"></script> -->
  <!-- <script src="ck/static/chartkick.js"></script> -->
<p>
  <div class= "text-center">График</div>
    {% column_chart data %}
</p>

<p>
  <div class= "text-center">График</div>
    {% line_chart data %}
</p>
{% endblock content %}
