{% extends "base.html" %}


{% block content %}

<div class="row">
  <div class="col-12 mt-5">
    <div class="text-center">
      <h5> График последних 15 оценок</h5>
    </div>
    <canvas id="сhart" width="400" height="200"></canvas>
      <div class="text-center mt-2">
        <a class="btn btn-default" id="save-image-btn" href="#"><i class="fa fa-download fa-2x" title="Align Right"></i></a>
      </div>
  </div>
</div>


  <script>
    Chart.plugins.register({
      beforeDraw: function(chartInstance) {
        var ctx = chartInstance.chart.ctx;
        ctx.fillStyle = "white";
        ctx.fillRect(0, 0, chartInstance.chart.width, chartInstance.chart.height);
      }
    });
    var ctx = document.getElementById('сhart').getContext("2d");
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: {{ labels|tojson|safe }},
        datasets: [{
          data : {{ values }},
          backgroundColor: 'rgba(33, 145, 81, 0.2)',
          borderColor: 'rgba(255, 134, 25, 1)',
          borderWidth: 2,
          label: 'ОЦЕНКА',
          maxBarThickness: 30,
        }]
      },
      
      options: {
        animation: {
          onComplete: function () {
            var ctx = this.chart.ctx;
            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
            ctx.fillStyle = "black";
            ctx.textAlign = 'center';
            ctx.textBaseline = 'bottom';
            
            this.data.datasets.forEach(function (dataset)
            {
              for (var i = 0; i < dataset.data.length; i++) {
                for(var key in dataset._meta)
                {
                  var model = dataset._meta[key].data[i]._model;
                  ctx.fillText(dataset.data[i], model.x, model.y - 5);
                }
              }
            });
          }
        },
        animationEnabled: true,
        legend: {
          display: true
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              suggestedMax: 6
            }
          }]
        },
      }
    });
    $('#save-image-btn').click(function() {
      var canvas = document.getElementById("сhart");
      console.log(canvas)
    canvas.toBlob(function(blob) {
      saveAs(blob, "image.png");
    });
  });
  
</script>

{% endblock content %}

