{% extends "base.html" %}

{% block content %}

{% include 'inc/_pagination.html' %}

<div class="row">
	<div class=col-9>
			<div class="text-center">
					<h5>Список оценок</h5>
			</div>
	<table class="table table-bordered text-center mt-3">
			<thead>
					<tr>
							<th scope="col">ид</th>
							<th scope="col">оператор</th>
							<th scope="col">очередь</th>
							<th scope="col">аон</th>
							<th scope="col">оценка</th>
							<th scope="col">дата</th>
					</tr>
			</thead>
			<tbody>
					{% for r in ratings.items %}
					<tr>
							<td>{{ r.id }}</td>
							<td>{{ r.operator }}</td>
							<td>{{ r.queue }}</td>
							<td>{{ r.callerid  }}</td>
							<td>{{ r.value }}</td>
							<td>{{ r.created_at }}</td>
					</tr>
					{% endfor %}
			</tbody>
	</table>
	</div>
	
	<div class="col-3 text-center">
		<h6>Введите параметры для поиска:</h6>
		{% include 'inc/_form_search.html' %}
	</div>
</div>

{% endblock content %}
				
