{% extends "base.html" %}

{% block content %}

<div class="row">

  {% for ro in ratings %}
    <div class="col-6">
      <div class="text-center">ОПЕРАТОР: {{ ro.operator }}</div>
      <canvas id="сhart-{{ro.id }}" width="400" height="200"></canvas>
      <div class="text-center mt-2">
        <a class="btn btn-default" id="save-image-btn-{{ro.id }}" href="#"><i class="fa fa-download" title="Align Right"> скачать</i></a>
      </div>
    </div>

    <script>
      Chart.plugins.register({
        beforeDraw: function(chartInstance) {
          var ctx = chartInstance.chart.ctx;
          ctx.fillStyle = "white";
          ctx.fillRect(0, 0, chartInstance.chart.width, chartInstance.chart.height);
        }
      });
      
      var ctx = document.getElementById("сhart-{{ ro.id }}").getContext("2d");
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: {{ ro.labels|tojson|safe }},
          datasets: [{
            data : {{ ro.values }},
            backgroundColor: 'rgba(33, 145, 81, 0.2)',
            borderColor: 'rgba(255, 134, 25, 1)',
            borderWidth: 2,
            label: 'ОЦЕНКА',
            maxBarThickness: 30,
          }]
        },
        
        options: {
          animation: {
            onComplete: function () {
              var ctx = this.chart.ctx;
              ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
              ctx.fillStyle = "black";
              ctx.textAlign = 'center';
              ctx.textBaseline = 'bottom';
              
              this.data.datasets.forEach(function (dataset)
              {
                for (var i = 0; i < dataset.data.length; i++) {
                  for(var key in dataset._meta)
                  {
                    var model = dataset._meta[key].data[i]._model;
                    ctx.fillText(dataset.data[i], model.x, model.y - 5);
                  }
                }
              });
            }
          },
          animationEnabled: true,
          legend: {
            display: true
          },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
                suggestedMax: 6
              }
            }]
          },
        }
      });
      $('#save-image-btn-{{ro.id }}').click(function() {
        var canvas = document.getElementById("сhart-{{ ro.id }}");
        console.log(canvas)
        canvas.toBlob(function(blob) {
          saveAs(blob, "image.png");
        });
      });
      
    </script>
  {% endfor %}

</div>

{% endblock content %}
